{
  "check-coverage": true,
  "per-file": true,
  "lines": 60,
  "statements": 60,
  "functions": 60,
  "branches": 60,
  "require": ["babel-register"],
  "exclude": [
    "**/*.test.js",
    "**/__tests__/**",
    "**/node_modules/**",
    "./server/middlewares/routeErrors.js",
    "./server/routes/frontEnd",
    "./UI"
  ],
  "watermarks": {
      "lines": [75, 75],
      "functions": [75, 70],
      "branches": [75, 50],
      "statements": [75, 50]
    },
  "reporter": ["lcov", "json", "text"],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "report-dir": "./coverage"
}