
@media screen and (max-width : 800px){
    
    
    .wrapper > ul >li >a{
        float: none;
        display: block;
        text-align: left;
       
      }
      .right {
        float: none;
        margin-top: -1em;
        width: 100%;
        padding-left: 3em;
        display: none;
      }
      .left{
          float: none;
          height: 5em;
        width: 100%;
        padding-top: 0.2em;
      }
      ul li{
           display: flex;
          flex-direction: column;
      }

      ul >li >a{
        padding-top: 0em;
    }
    

     #myhome {
         display: none;
     }

     #mydiary {
         font-size: 1.6em;
         margin-top: 0.5em;
     }

     

     /* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 40px;
    height: 2px;
    margin-left: 7em;
    margin-top: -1.3em;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #EB9B12;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 12px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 24px;
  }
  
  #nav-icon1.open span:nth-child(1)  {
      top: 0px;
   
  }
  
  #nav-icon1.open span:nth-child(2) {
      top: 12px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 24px;
  }
  
 .flex-container {
     display: block;
 }
 .card {
     width: 100%;
     margin-top: 1em;
 }

 .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    width: 102%;
}

#distance {
	margin-top: 8em;
 }

 .about {
     height: 22em;
 }

}